@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right loginitem">
            <li class="loginitem">
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!  ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "loginitem" })
            </li>

            <li><a class="loginitem" style="padding-left:10px;" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right loginitem">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "loginitem" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "loginitem", @style = "padding-left:10px;" })</li>
    </ul>
}
