<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="dbHost" connectionString="Password=assql2023!;Persist Security Info=True;User ID=sa;Initial Catalog=DiffuparAnalytics;Data Source=alusoft.ddns.net" providerName="System.Data.SqlClient" />
        <add name="SAP" connectionString="Dsn=Sap; uid = alft; pwd = aLf4951*;"/>
    </connectionStrings>
</configuration>